.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color:#f6e6ed;
}


.catagories{
width: 100vw;
font-size: 5vh;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #000000;
margin-top: -.3vh;
}

.catagories-image{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: column;
  justify-content: flex-start;
  margin-top: -8vh;
  margin-left: 10vw;
  margin-bottom: 4vh;
  
}
